<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert New or Edit Contact</title>
</head>
<body>
<form th:object="${newContact}" th:action="@{/update/{id}(id=${newContact.id})}" method=POST>
Name: <input name="name" size="20" th:field="*{name}"><br />
Relationship: <input name="relationship" size="20" th:field="*{relationship}"><br />


<input name="Submit" type="submit" value="submit" />
</form>
<a href="../viewAll">View All Contacts</a>

</body>
</html>