<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert New or Edit Position</title>
</head>
<body>
<form th:object="${newPosition}" th:action="@{/updatePosition/{id}(id=${newPosition.position_id})}" method=POST>
Position Title: <input name="title" size="20" th:field="*{title}"><br />
<input name="Submit" type="submit" value="submit" />
</form>
<a href = "../viewAll">View all Employees</a><br/>
<a href="../inputEmployee">Add a new Employee</a><br/>
<a href = "../viewAllPositions">View all Positions</a><br/>
<a href="../inputPosition">Add a new Position</a><br/>
</body>
</html>